#### ETL for Engage3 technical exercise 2 
#### Sanjay Mamidi 9/23/2019


#### Analysis:  
WholeFoods pricing data seems to be off for Kansas. There seems to be an auditor in  Kansas Auditor Id 713 whose 
data in consistently low. This might be a problem that needs futher investigation. 
Prices in Northern California seem higher than elsewhere in the country.
In this dataset Northern California had the lowest number of products on sale but with the highest mean prices. 
The mean prices were highest in CA followed by NY , Texas and Kansas. The highest price item also had a similar trend. 
I did not use Auditors data Load for the final analysis except for highlighting a particular Auditor

In [ ]:
import pandas as pd

In [244]:
json_df = pd.read_json("stores.json", orient="records")
auditors_df = pd.read_csv("auditors.csv",encoding='latin1')
prices_df = pd.read_csv("prices.csv",encoding='latin1')

In [245]:
json_df.head(3)

        Banner               Region  Store ID
0      Walmart  Northern California     66999
1  Trader Joes  Northern California      4698
2      Safeway  Northern California     39482

In [246]:
auditors_df.head(3)

   Auditor ID First   Last               Region
0         234   Sue  Smith  Northern California
1         536   Bob  Smith  Northern California
2          98  Jack  Smith             New York

In [247]:
prices_df.head(5)

   Auditor ID      Date  Price  Store ID        UPC
0         234  10/18/17  24.95     66999  268588472
1         234  10/27/17  49.71     66999  475245085
2         234  10/20/17  25.75     66999  126967843
3         234  10/23/17  18.81     66999  708930835
4         234  10/23/17  33.32     66999  325885139

In [248]:
prices_df.count()

Auditor ID    12315
Date          12315
Price         12315
Store ID      12315
UPC           12315
dtype: int64

In [249]:
prices_df.nunique()

Auditor ID       8
Date            14
Price         2596
Store ID        20
UPC           1000
dtype: int64

In [250]:
prices_df = prices_df.merge(json_df, on='Store ID', how = 'inner')
prices_df.columns

Index(['Auditor ID', 'Date', 'Price', 'Store ID', 'UPC', 'Banner', 'Region'], dtype='object')

In [252]:
prices_df.head(3)

,Auditor ID,Date,Price,Store ID,UPC,Banner,Region
0,234,10/18/17,24.95,66999,268588472,Walmart,Northern California
1,234,10/27/17,49.71,66999,475245085,Walmart,Northern California
2,234,10/20/17,25.75,66999,126967843,Walmart,Northern California

In [253]:
# prices_df = prices_df.merge(auditors_df, on='Auditor ID', how = 'inner')
prices_df.columns

Index(['Auditor ID', 'Date', 'Price', 'Store ID', 'UPC', 'Banner', 'Region'], dtype='object')

In [254]:
prices_P_df = prices_df.pivot(columns ='Region', values = 'Price')

In [255]:
prices_df.nunique()

Auditor ID       8
Date            14
Price         2593
Store ID        18
UPC           1000
Banner           5
Region           4
dtype: int64

In [256]:
RegionArray = prices_df.Region.unique()
RegionArray

array(['Northern California', 'New York', 'Kansas', 'Texas'], dtype=object)

In [257]:
prices_df_NC = prices_df[prices_df.Region == 'Northern California']
prices_P_df = prices_df_NC.pivot(columns ='Region', values = 'Price')
prices_df_NC = pd.concat([prices_df_NC,prices_P_df], axis = 1)
prices_df_NC.tail(3)

,Auditor ID,Date,Price,Store ID,UPC,Banner,Region,Northern California
1631,536,10/25/17,59.69,34957,436463728,Whole Foods,Northern California,59.69
1632,536,10/22/17,30.89,34957,376153383,Whole Foods,Northern California,30.89
1633,536,10/23/17,49.19,34957,514912132,Whole Foods,Northern California,49.19

In [258]:
prices_df_NY = prices_df[prices_df.Region == 'New York']
prices_P_df = prices_df_NY.pivot(columns ='Region', values = 'Price')
prices_df_NY = pd.concat([prices_df_NY,prices_P_df], axis = 1)
prices_df_NY.tail(3)

,Auditor ID,Date,Price,Store ID,UPC,Banner,Region,New York
4656,98,10/24/17,21.69,50948,352259734,Whole Foods,New York,21.69
4657,98,10/18/17,26.39,50948,627807402,Whole Foods,New York,26.39
4658,98,10/21/17,6.59,50948,866698043,Whole Foods,New York,6.59

In [259]:
prices_df_K = prices_df[prices_df.Region == 'Kansas']
prices_P_df = prices_df_K.pivot(columns ='Region', values = 'Price')
prices_df_K = pd.concat([prices_df_K,prices_P_df], axis = 1)
prices_df_K.tail(3)

,Auditor ID,Date,Price,Store ID,UPC,Banner,Region,Kansas
7743,713,10/25/17,1.99,39287,125829867,Whole Foods,Kansas,1.99
7744,713,10/21/17,1.99,39287,912873332,Whole Foods,Kansas,1.99
7745,713,10/21/17,1.99,39287,163809044,Whole Foods,Kansas,1.99

In [260]:
prices_df_T = prices_df[prices_df.Region == 'Texas']
prices_P_df = prices_df_T.pivot(columns ='Region', values = 'Price')
prices_df_T = pd.concat([prices_df_T,prices_P_df], axis = 1)
prices_df_T.nunique()

Auditor ID       2
Date            14
Price         1156
Store ID         5
UPC           1000
Banner           5
Region           1
Texas         1156
dtype: int64

In [261]:
prices_df_T.head(3)

      Auditor ID      Date  Price  Store ID        UPC   Banner Region  Texas
7746          63  10/23/17  37.85     50495  311513952  Walmart  Texas  37.85
7747          63  10/28/17  16.33     50495  793865483  Walmart  Texas  16.33
7748          63  10/29/17  33.23     50495  774342015  Walmart  Texas  33.23

In [262]:
prices_final_df = pd.merge(prices_df_T, prices_df_K, on =['UPC','Banner'], how = 'left')
prices_final_df = prices_final_df.sort_values(by=['UPC'])
prices_final_df = pd.merge(prices_final_df,prices_df_NY, on =['UPC','Banner'], how = 'left') 
prices_final_df = pd.merge(prices_final_df,prices_df_NC, on =['UPC','Banner'], how = 'left') 
prices_final_df =prices_final_df.drop(columns = ['Auditor ID_x','Date_x','Store ID_x','Price_x','Region_x'])
prices_final_df =prices_final_df.drop(columns = ['Auditor ID_y','Date_y','Store ID_y','Price_y','Region_y'])
prices_final_df = prices_final_df.sort_values(by=['UPC'])
prices_final_df

            UPC       Banner  Texas  Kansas  New York  Northern California
0      11873171  Whole Foods   5.49    1.99      5.69                  NaN
1      11873171      Walmart   4.75     NaN       NaN                 5.53
2      11873171      Wegmans   5.09     NaN      5.19                  NaN
3      11873171  Trader Joes   4.99     NaN       NaN                  NaN
4      11873171      Safeway   5.19     NaN       NaN                 6.09
5      15052612      Wegmans  52.89   52.39     54.49                  NaN
6      15052612      Safeway  54.49   53.99       NaN                  NaN
7      15052612  Whole Foods  57.79    1.99     59.49                  NaN
8      16482322      Wegmans  17.59     NaN     18.09                  NaN
9      16482322  Trader Joes  17.19     NaN     17.69                  NaN
10     16482322      Walmart  16.31     NaN     16.81                  NaN
11     16482322      Safeway  18.09   17.89       NaN                  NaN
13     16729338      Safeway   8.09    7.99       NaN                 9.39
14     16729338  Trader Joes   7.69    7.59      7.89                 8.89
12     16729338      Wegmans   7.79     NaN      8.09                  NaN
15     16829288      Walmart   3.33    3.26      3.37                  NaN
16     16829288  Trader Joes   3.39     NaN       NaN                  NaN
17     16829288      Wegmans   3.49     NaN       NaN                  NaN
18     16829288      Safeway   3.59    3.59       NaN                 4.19
19     16900911      Safeway  29.49   29.19       NaN                34.19
20     16900911      Walmart  26.64   26.37       NaN                  NaN
21     16900911  Trader Joes  27.99     NaN       NaN                32.59
22     16900911      Wegmans  28.59     NaN     29.49                  NaN
23     16999755      Safeway   5.29    5.29       NaN                 6.19
24     16999755  Trader Joes   5.09     NaN       NaN                 5.89
25     16999755  Whole Foods   5.59    1.99      5.79                 6.49
26     16999755      Wegmans   5.19    5.09      5.29                  NaN
31     17066659      Wegmans   2.99     NaN      3.09                  NaN
30     17066659  Whole Foods   3.29    1.99      3.39                 3.79
28     17066659      Walmart   2.81     NaN      2.95                 3.22
...         ...          ...    ...     ...       ...                  ...
3734  993910240      Wegmans  22.99     NaN     23.69                  NaN
3740  994344572  Whole Foods  11.59     NaN     11.89                  NaN
3739  994344572  Trader Joes  10.39     NaN     10.69                12.09
3737  994344572      Walmart   9.94    9.81     10.25                  NaN
3736  994344572      Wegmans  10.59   10.49     10.89                  NaN
3738  994344572      Safeway  10.89     NaN       NaN                  NaN
3744  995745822      Walmart  36.91     NaN     38.02                  NaN
3741  995745822      Wegmans  39.69     NaN     40.89                  NaN
3742  995745822      Safeway  40.89   40.49       NaN                47.49
3743  995745822  Trader Joes  38.89     NaN     40.09                45.09
3746  995798889      Safeway  57.19     NaN       NaN                66.49
3747  995798889  Trader Joes  54.39   53.89       NaN                  NaN
3745  995798889      Wegmans  55.59     NaN     57.19                  NaN
3748  995798889  Whole Foods  60.59    1.99     62.39                70.39
3752  996262978      Wegmans  12.79   12.69     13.19                  NaN
3751  996262978  Trader Joes  12.49     NaN     12.89                  NaN
3753  996262978      Walmart  11.93   11.84       NaN                  NaN
3749  996262978  Whole Foods  13.89    1.99     14.39                16.19
3750  996262978      Safeway  13.19     NaN       NaN                  NaN
3756  996849471      Wegmans  11.39   11.29     11.79                  NaN
3757  996849471      Walmart  10.64     NaN     11.04                12.32
3754  996849471      Safeway  11.79     NaN       NaN                13.69
3755  996849471  Trader Joes  11.19     NaN       NaN                  NaN
3759  998831540      Safeway  36.69   36.29       NaN                  NaN
3760  998831540      Walmart  33.12     NaN     34.13                  NaN
3758  998831540  Whole Foods  38.79    1.99     39.99                  NaN
3761  998831540      Wegmans  35.59     NaN     36.69                  NaN
3763  999185078  Trader Joes  50.69     NaN     52.19                  NaN
3762  999185078      Wegmans  51.69     NaN     53.29                  NaN
3764  999185078      Safeway  53.29   52.79       NaN                61.89

[3765 rows x 6 columns]

In [268]:
prices_final_df.describe()

,UPC,Texas,Kansas,New York,Northern California
count,3.765000e+03,3765.000000,2194.000000,2162.000000,1124.000000
mean,5.060907e+08,30.084550,23.685966,31.035546,35.263941
std,2.875843e+08,16.709557,18.503808,17.181098,19.509193
min,1.187317e+07,0.590000,0.690000,0.590000,0.690000
25%,2.592874e+08,16.290000,3.260000,16.825000,18.962500
50%,5.072036e+08,29.840000,21.440000,31.090000,34.840000
75%,7.627109e+08,44.060000,39.390000,45.342500,51.290000
max,9.991851e+08,63.890000,59.990000,65.590000,73.690000